@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  --main-col: #BC986A;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Merriweather", serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.filled-button {
  font-family: "Merriweather", serif;
  background-color: var(--main-col);
  color: white;
  padding: 0.25rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.filled-button:hover {
  background-color: #4a8ab2;
}

.outlined-button {
  font-family: "Merriweather", serif;
  background-color: white;
  color: var(--main-col);
  padding: 0.25rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.outlined-button:hover {
  background-color: #f0f0f0;
}

.horizontal-margin {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}